@page
@{
    ViewData["Title"] = "Kendo UI Chat Peer-to-peer example";
}
    <div id="chat"></div>
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2023.1.117/styles/kendo.default-ocean-blue.min.css">

  <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
  <script src="https://kendo.cdn.telerik.com/2023.1.117/js/angular.min.js"></script>
  <script src="https://kendo.cdn.telerik.com/2023.1.117/js/jszip.min.js"></script>
  <script src="https://kendo.cdn.telerik.com/2023.1.117/js/kendo.all.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.2/signalr.min.js"></script>
<script src="~/js/chat.js"></script>