html
{
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
}

body
{
    background-color: #fff;
    border-top: solid 10px #000;
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

a
{
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

    a:link, a:visited,
    a:active, a:hover
    {
        color: #333;
    }

    a:hover
    {
        background-color: #c7d1d6;
    }

header, footer, hgroup,
nav, section
{
    display: block;
}

mark
{
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left
{
    float: left;
}

.float-right
{
    float: right;
}

.clear-fix:after
{
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6
{
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1
{
    font-size: 2em;
}

h2
{
    font-size: 1.75em;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active
    {
        padding: 0;
        text-decoration: none;
    }


/* main layout
----------------------------------------------------------*/
.content-wrapper
{
    margin: 0 auto;
    max-width: 960px;
}

#body
{
    background-color: #efeeef;
    clear: both;
    padding-bottom: 35px;
}

.main-content
{
    background: url("../Images/accent.png") no-repeat;
    padding-left: 10px;
    padding-top: 30px;
}

.featured + .main-content
{
    background: url("../Images/heroAccent.png") no-repeat;
}

header .content-wrapper
{
    padding-top: 20px;
}

footer
{
    clear: both;
    background-color: #e2e2e2;
    font-size: .8em;
    height: 100px;
}


/* site title
----------------------------------------------------------*/
.site-title
{
    color: #c8c8c8;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    margin: 0;
}

    .site-title a, .site-title a:hover, .site-title a:active
    {
        background: none;
        color: #c8c8c8;
        outline: none;
        text-decoration: none;
    }

/* page elements
----------------------------------------------------------*/

/* page titles */
hgroup.title
{
    margin-bottom: 10px;
}

hgroup.title h1, hgroup.title h2
{
    display: inline;
}

hgroup.title h2
{
    font-weight: normal;
    margin-left: 3px;
}
